/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */
/*________________________________________________*/
.center{
    margin: 0 2%;
}


header{
    overflow: auto;   
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

h1{
    float: right;
    margin-right: 3%;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 5.5em;
    text-align: right;
    margin-top: 4%;
}

h2{
    margin: 20% 0 1% 4%;
    font-size: 2.5em;
}

/*________________________________________________*/

#bio video{
    float: right;
    width: 40%;
    margin-right: 10%;
    margin-bottom: 1%;
}


#bio p{
    width: 42%;
    float: left;
    margin: 3% 0 15% 5%;

    
}



h3{
    clear: both;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    background-color: #5E1107;
    padding: 10% 0;
    margin: 2% 0%;
    background-image: url(../images/experience.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#bio h3{
    width: 52%;
    margin: 0 auto;
    text-align: left;
    font-size: 2.6em;
    background-color: white;
    margin-bottom: -4%;
    background-image: none;
    padding: 5%;
    

    
}

#first-arrow-figure{
    width: 2%;
    text-align: center;
    margin: 0 5%;
}
#experience video{
     width: 65%;
     margin-bottom: 3%;
    
}

.middle_picture{
    text-align: center;
}

#experience p{
    width: 45%;
    margin: 0 auto;
}


#left{
    width: 40%;
    float: left;
    margin: 0 0% 3% 5%;
    
}

#right{
    width: 40%;
    float: right;
    margin: 0 5% 3% 0;
    
}

#inspiration video{
    margin-bottom: 3%;
    width: 60%;
}

   
#left_event{
    width: 50%;
    float: left;
    margin-bottom: 2%;
}

#right_event{
    width: 50%;
    float: right;
    margin-bottom: 2%;
}


#events p{
    margin: 3% 0 3% 0;
}

#reviews video{
    float: right;
    width: 30%;
    margin-right: 6%;
    margin-bottom: 2%;
}

#reviews p{
    width: 42%;
    float: left;
    margin: 2% 0 0 5%;   
}

h4{
    width: 52%;
    margin: 0 auto;
    text-align: left;
    font-size: 2.6em;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    }

#tel{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto'
}

#telephone_paragraph{
    width: 50%;
    float: right;
    text-align: center;
}
#telephone_paragraph img{
    width: 10%;
    margin-bottom: 0 auto;
    clear: both;
}

#telephone_paragraph p{
    clear: both;
}

#email_paragraph{
    width: 50%;
    float: left;
    text-align: center;
} 

#email_paragraph img{
    width: 10%;
}


.text_contact{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.text_contact:hover{
    cursor: pointer;
}

.text_contact:active{
    color: darkred;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 5%;}

footer{
    height: auto;
    clear: both;
    background-color: black;
    text-align: center;
    
}

footer img{
    width: 7%;
    margin: 0 8%;
}



#experience_h{
    background-image: url(../images/experience.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#inspiration_h{
    background-image: url(../images/inspiration.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#events_h{
    background-image: url(../images/events.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#review_h{
    background-image: url(../images/review.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#contact_h{
    background-image: url(../images/contact.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.text-pop-up-top {
    height: auto;
    margin-top: 1em;
    padding-top: 1em;
    -webkit-animation: text-pop-up-top 2.1s linear infinite alternate-reverse forwards;
    animation: text-pop-up-top 2.1s linear infinite alternate-reverse forwards;
}
